<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Aventures Gustatives{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.min.css">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container d-flex flex-wrap">
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a href="{{ path('home') }}" class="nav-link link-dark px-2" aria-current="page">ACCUEIL</a></li>
                    <li class="nav-item"><a href="{{ path('blog') }}" class="nav-link link-dark px-2">RECETTES</a></li>
                    <li class="nav-item"><a href="/blog/propos" class="nav-link link-dark px-2">A PROPOS</a></li>
                    <li class="nav-item"><a href="/blog/contact" class="nav-link link-dark px-2">CONTACT</a></li>
                    <li class="nav-item"><a href="{{ path('blog_create') }}" class="nav-link link-dark px-2">creation article</a></li>
                    <li class="nav-item"><a href="/blog/connexion" class="nav-link link-dark px-2">CONNEXION</a></li>
                </ul>
            </div>
        </nav>
        <header class="py-3 mb-4 border-bottom">
            <div class="container d-flex flex-wrap justify-content-center">
                <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                    <span class="fs-4">Double header</span>
                </a>
            </div>
        </header>
        {% block body %}{% endblock %}

    </body>
</html>


